<!DOCTYPE html>
<html>
  <head>
    <title>LMS Activation email</title>
  </head>
  <body>
    <div>
      <h1>Welcome to E-learning</h1>
      <p>Hello <% user.name %>,</p>
      <p>Please enter a below code for activateing the account</p>
      <h2><% user.activationCode %></h2>
    </div>
  </body>
</html>
