<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html lang="en">
  <head>
    <title>Order Confirmation</title>
  </head>
  <body>
    <h1>Hello <%= order.user %>,</h1>
    <h1>Order course <%= order.name %></h1>
    <h1>price of this course "<%= order.price %>".</h1>
    <p>
      Please login to our website to view the reply and continue the discussion
    </p>
    <p>Thank you for being part of our community</p>
  </body>
</html>
